.bodyContainer{
  box-sizing: border-box;
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.board {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  grid-template-columns: repeat(3, auto);

}

.cell {
  width : var(--cell-size);
  height: var(--cell-size);
  
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  position: relative;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(3n+1) {
  border-left: none;
}
.cell:nth-child(3n+3) {
  border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.X,
.cell.O {
  cursor:not-allowed;
}

.cell.X::before,
.cell.X::after,
.cell.O::before {
  background-color: black;
}

.board.X .cell:not(.X):not(.O):hover::before,
.board.X .cell:not(.X):not(.O):hover::after,
.board.O .cell:not(.X):not(.O):hover::before {
  background-color: lightgray;
}

.cell.X::before,
.cell.X::after,
.board.X .cell:not(.X):not(.O):hover::before,
.board.X .cell:not(.X):not(.O):hover::after  {
  content: '';
  position: absolute;
  width:  calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.X::before,
.board.X .cell:not(.X):not(.O):hover::before  {
  transform: rotate(45deg);
}

.cell.X::after,
.board.X .cell:not(.X):not(.O):hover::after {
  transform: rotate(-45deg);
}

.cell.O::before,
.cell.O::after,
.board.O .cell:not(.X):not(.O):hover::before,
.board.O .cell:not(.X):not(.O):hover::after  {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.O::before,
.board.O .cell:not(.X):not(.O):hover::before {
  width: var(--mark-size);
  height:var(--mark-size);
  
}
.cell.O::after,
.board.O .cell:not(.X):not(.O):hover::after {
  width: calc(var(--mark-size)*0.7);
  height:calc(var(--mark-size)*0.7);
  background-color: white;
}

.winning-message {
  display: none;
  /* display: flex; */
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  /* 전체화면 채우기 */
  
  background-color: rgba(0, 0, 0, 0.8);
  color: white;

  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.winningMessageText {
  margin:  1rem;
  padding: 1rem;
  font-size: 7rem;

  /* background-color: yellow;
  border: 1px solid green; */
}

.winningMessageText button {
  font-size: 3rem;
  padding: 1rem;
  background-color: white;
  /* border: 1px solid black; */
  /* border: none; */
  cursor: pointer;
}

.winning-message.show {
  display: flex;
}

