<div class="bodyContainer">
  <div #board class="board">
    <div class="cell" #cellsCollection></div>
    <div class="cell" #cellsCollection></div>
    <div class="cell" #cellsCollection></div>
    <div class="cell" #cellsCollection></div>
    <div class="cell" #cellsCollection></div>
    <div class="cell" #cellsCollection></div>
    <div class="cell" #cellsCollection></div>
    <div class="cell" #cellsCollection></div>
    <div class="cell" #cellsCollection></div>
  </div>
  <div #winningMessage class="winning-message">
    <div class="winningMessageText"><span #winningMessageTextElement>X Wins!</span></div>
    <div class="winningMessageText"><!-- <span>Hello World</span> --><button (click)="StartGame()">Restart</button></div>
  </div>
</div>