$backColor:#2f363e;
$AnalogClockOneSideLength: 450px;

$boxShadow:
  25px 25px 75px rgba(0,0,0, 0.75),
  10px 10px 70px rgba(0,0,0, 0.25),
  inset  5px  5px 10px rgba(0,0,0, 0.5),
  inset  5px  5px 20px rgba(255,255,255,0.2),
  inset -5px -5px 15px rgba(0,0,0, 0.75);

$boxShadow2:
  10px 50px 70px rgba(0,0,0, 0.25),
  inset  5px  5px 10px rgba(0,0,0, 0.5),
  inset  5px  5px 20px rgba(255,255,255, 0.2),
  inset -5px -5px 15px rgba(0,0,0, 0.75);

$boxShadow3:
   5px  5px 10px rgba(0,0,0, 0.5),
  inset  5px  5px 20px rgba(255,255,255,0.2),
  inset -5px -5px 15px rgba(0,0,0, 0.75);

@mixin flexCenteredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterStartContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.bodyContainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $backColor;  /* 2f363e; */

  @include flexCenteredContainer;
  /* min-height: 100%; *//* 100vh */

  .container {
    /* position: relative; */
    background: $backColor;
    min-height: 500px;
  
    border-radius: 20px;
    border-top-left-radius:  225px;
    border-top-right-radius: 225px; 
    box-shadow: $boxShadow;

    margin-top: 30px;
    margin-bottom: 30px;
  
    @include flexCenteredContainer;
    flex-direction: column;    /* .analogClock 하고 .digitalClock 을 아래로 연달아서 배치 아래축으로 정중앙 */

    .analogClock {
  
      width:  $AnalogClockOneSideLength;
      height: $AnalogClockOneSideLength;
      background-color: $backColor;
      border-radius: 50%;
      box-shadow: $boxShadow2;
      margin-bottom: 30px;

      position: relative;
      @include flexCenteredContainer;
      
      .center-point-circle {
        /* 시계 정중앙 */
        /* content: ''; */
        position: absolute;
        width:  8px;
        height: 8px;
        background-color: $backColor;
        border: 1px solid #fff;
        border-radius: 50%;  /* 둥글게 원으로 */
        z-index: 100000;
      }

      span {
        position: absolute;
        inset: 20px;
        color: #fff;
        text-align: center;
        transform: rotate(calc(30deg * var(--i)));
        /* 360 / 12 = 30deg */

        b {
          font-size: 2em;
          opacity: 0.25;
          font-weight: 600;
          
          /* 멋지네 */ 
          display: inline-block;
          transform: rotate(calc(-30deg * var(--i)));
        }
        
      }

      .circle {
        position: absolute;

        width  : var(--side-length);
        height : var(--side-length);
        z-index: var(--z-index);

        border: 2px solid rgba(0,0,0,0.25);
        border-radius: 50%;
        
        @include flexCenterStartContainer; /* 시계바늘 끝지점을 제일 위쪽 가운데로 둔다  */

        b {
          // content: '';
          position: absolute;
          top: -8.5px;
          // 시계침을 둥글게
          // width:  15px;
          // height: 15px;
          // border-radius: 50%;
          // background-color: var(--clr);
          // box-shadow: 0 0 20px var(--clr),
          // 0 0 60px var(--clr);
          
          // 시계침을 정삼각형으로 */
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 7.5px 12.99px 7.5px;
          /* border-width: (정삼각형 높이/2) (정삼각형 너비/2) (정삼각형 높이/2) (정삼각형 너비/2) */
          border-color: transparent transparent var(--clr) transparent;
          /* border-color: (상단 삼각형 투명색) (오른쪽 삼각형 투명색) (하단 삼각형 색상) (왼쪽 삼각형 투명색) */
        }

        i {
          position: absolute;
          
          width : var(--bar-width);
          height: 50%;
          background: var(--clr);
        
          opacity: 0.75;
          transform-origin: bottom;
          transform: scale(0.85);
        }
      }
    }

    
    .digitalClock {
      margin-bottom: 40px;
      padding: 10px 20px;
      
      font-size: 0.5em;
      font-weight: 600;
      
      border: 2px solid rgba(0,0,0, 0.5);
      border-radius: 40px;
      box-shadow: $boxShadow3;
      
      display: flex;

      div {
  
        width: 60px;
        text-align: center;
        color: var(--clr);
        
        position: relative;
      }

      div:nth-child(1)::after,
      div:nth-child(2)::after {
        content: ':';
        position: absolute;
        right: -4px;
      }
      
      div:nth-child(2)::after {
        animation: animate 1s steps(1) infinite;
      }

      div:last-child {
        font-size: 0.5em;
        color: #fff;
      }


    } /* end of .digitalClock */
  } /* end of .container */
} /* end of .bodyContainer */

@keyframes animate {
  0%  {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
